body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(30deg
  , #000000d9,#7cfff0,#add);  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

/* ============== login page style========================== */
.login {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  background: #c2c0c0e3;
  color: #000000;
  min-width: 400px;
  width: 700px;
}
.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login form input {
  text-transform: capitalize;
  margin-bottom: 25px;
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: none;
}
.errore,.success{
  color: #8a0d0df1;
  text-transform: capitalize;
  font-size: 20px;
}
.success{
  color: green;
}

/* ========================================================== */
/* the container of all the my element in the page */
.w {
  width: 100%;
  padding: 0rem;
  background: #eeeeee2c;
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
/* the rid itmes  */
.w #newTask, #content-task {
  background: #0b94ca5d;
  height: 80px;
  width: 95%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.w #newTask #taskToDo{
  border: none;
  outline: none;
  border-radius: 5px;
  height: 40px;
  padding: 15px;
}
/* the rid itmes  */
#content-task {
  background: #faf0e6d3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 500px;
  overflow-y: scroll;
}
#task {
  width: 100%;
}
#task i {
  cursor: pointer;
}
#theTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffd9009f;
  width: 100%;
  min-height: 40px;
  padding: 10px 30px 0;
  margin: 5px;
  border-radius: 10px;
  text-transform: capitalize;
  position: relative;
}
#theTask::before{
  content: "";
  position: absolute;
  bottom: 10px;
  left: 25px;
  border-bottom: 1px solid #000;
  width: 90%
}
.taskName {  cursor: pointer;}
.completed { text-decoration: line-through}
@media (max-width: 992px) {
  p,input {
    font-size: 16px!important;
  }
  .w {
    width: 100%;
    padding: 0rem;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

  }
  .w #newTask, #content-task {
    width: 95%;
  }
}
@media (max-width: 720px) {
  .w {
    grid-template-columns: auto ;
    grid-template-rows: auto auto;

  }
  .w #newTask, #content-task {
    width: 100%;
  }
}
